*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
    text-align: center;
}
nav{
    display: flex;
    background: #1D1A1A;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 10px 20px 0px black;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*LOGO START*/
.leftIcons{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.logo{
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-left: 10px;
    width: 15vw;
}
/*LOGO END*/
/*NAVIGATION BUTTONS START*/
.navButtons{
    margin: 0 10px;
    display: flex;
    flex-wrap: nowrap;
}
.navButtons a{
    text-decoration: none;
    display: inline-flex;
    width: 12vw;
    max-width: 100px;
    height:10vh;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color:white;
    background-image: linear-gradient(#1d1a1a 50%, #2AC30D 50%);
    background-size: 100% 200%;
    background-position: 0% 0%;
    transition: background-image 2s;
}
.navButtons a:hover{
    background-image: linear-gradient(#2e2929 50%, #2AC30D 50%);
}
.navButtons a:nth-child(1){
    background-position: 0% 10%;
}
/*NAVIGATION BUTTONS END*/
/*SIGN UP START*/
.signUp{
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup{
    height: 5vh;
    width: 15vh;
    background-color: #4af028;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    color:white;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.signup:hover{
    background-color: green;
}
/*SIGN UP END*/
/*CART START*/
.cart a{
    text-decoration: none;
    display: inline-flex;
    width: 100px;
    height:10vh;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color:white;
}
/*CART END*/
/*HERO START*/
.hero{
    background: linear-gradient(rgba(0,0,0,0.5), #1D1A1A) ,url(images/BookTopiaHeroBG.jpg);
    width: 100vw;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo2{
    margin-top: 20vh;
    width: 40vw;   
}
.motto{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
}
.search {
    display: inline-block;
    position: relative;
    margin-top: 10vh;
    z-index: 50;
  }  
.search input[type="text"] {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.search button[type="submit"] {
    background-color: #4AF028;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    transition: .9s ease;
} 
.search button[type="submit"]:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: green;
}  
.waves{
    margin-top: 15vh;
    border: none;
    width: 100vw;
    stroke-width: 0;
    margin-bottom: -40px;
}
/*HERO END*/
/*We Provide START*/
.weProvide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
    height: 100vh;
    flex-wrap: nowrap;
    background: rgb(255, 255, 255);
    width: 100%;
}
.header{
    margin-bottom: 10vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}
.services{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10vh;
}
.fa-solid{
    font-size: 80px;
    color: #2AC30D;
}
.service{
    margin: 0 2vw;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}
@media (min-width: 768px) {
    .service {
      width: 100px;
      min-width: 100px;
      flex-basis: 100px;
    }
}
  
@media (min-width: 1024px) {
    .service {
      width: 300px;
      min-width: 300px;
      flex-basis: 300px;
    }
}
.service h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}
.service p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: grey;
}
/*We Provide END*/
/*BESTSELLERS START*/
.bestsellers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #99c290;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
}
.books{
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}
.book{
    display: flex;
    flex-direction: column;
    margin:0 10px;
    align-items: center;
}
.bookinfo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    display:flex;
    flex-direction: column;
    width: 20vw;
    text-wrap: nowrap;
    overflow: hidden;
    align-items: center;
}
.book img{
    width: 15vw;
    height: 22.5vw;
    box-shadow: 1px 10px 10px 0px rgba(0,0,0,0.75);
    margin-bottom: 5vh;
    transition: transform 0.5s ease;
}
.book img:hover{
    transform: scale(1.1);
}
/*BESTSELLERS END*/
/*REVIEWS START*/
.userreview{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.userreview h1{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.commentView{
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 5vw;
}
.reviewBox{
    
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #355b2e;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 10px 10px 10px rgba(0,0,0,0.75);
    color: white;
    text-align: center;
    gap: 10vh;
    transition: transform 0.5s ease;
}
.reviewBox:hover{
    transform: scale(1.05);
}
.pfp{
    justify-self: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pfp img{
    height: 100px;
    width: 100px;
    max-width: 100%;
    border-radius: 50%;
    box-shadow:#1D1A1A;
    object-fit: cover;
}
.pfp .userinfo{
    margin-left: 20px;
    justify-content: flex-start;
    text-align: start;
}
.movebtn{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #4AF028;
    transition: transform 0.5s;
}
.movebtn .fa-solid{
    font-size: 40px;
    color: black;
}
.movebtn:hover{
    transform: scale(1.2);
}
@media screen and (max-width: 600px) {
    .reviewBox {
      height: 600px; /* Adjust the height for smaller screens */
    }
}
/*REVIEWS END*/